Checks: clang-analyzer-*,android-*,concurrency-*,modernize-*,performance-*,portability-*,readability-*,-readability-identifier-length,-readability-redundant-declaration
ExtraArgs: [-std=c++23, -stdlib=libc++, -Wall, -Wpedantic, -Wextra]
UseColor: true
